<div mat-dialog-title>
    <h1>Izmena korisnika</h1>
</div>

<div mat-dialog-content class="content" fxLayout="column" style="width: 500px; border-radius: 12px;">
    <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput placeholder="ID" [(ngModel)]="korisnik.korisnik_id" name="id" [disabled]="true">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="example@gmail.com" [(ngModel)]="korisnik.email" name="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Korisnicko ime</mat-label>
        <input matInput [(ngModel)]="korisnik.username" name="username">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Lozinka</mat-label>
        <input matInput type="password" [(ngModel)]="korisnik.password" name="password" [disabled]="true">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Ime</mat-label>
        <input matInput [(ngModel)]="korisnik.ime" name="ime">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Prezime</mat-label>
        <input matInput [(ngModel)]="korisnik.prezime" name="prezime">
    </mat-form-field>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button mat-dialog-close>OTKAŽI</button>
    <button mat-raised-button color="primary" (click)="izmeni(korisnik)">SAČUVAJ</button>
</div>