<div fxLayout="column">

    <div class="chart-container" fxLayout="row" fxLayoutAlign="start">
        <app-bar-chart-prodaja fxFlex="100"></app-bar-chart-prodaja>
    </div>

    <div class="chart-container" fxLayout="row" fxLayoutAlign="start">
        <div fxLayout="column">
            <app-pie-chart-knjige-po-kategoriji fxFlex="50"></app-pie-chart-knjige-po-kategoriji>
        </div>
        <div fxLayout="column">
            <app-pie-chart-kupljene-knjige-po-kategoriji fxFlex="50"></app-pie-chart-kupljene-knjige-po-kategoriji>
        </div>
    </div>

</div>