<div fxLayout="row" fxLayoutAlign="center center" class="height">
    <mat-card fxFlex="20">
        <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="login()">
                <h2>Prijava</h2>
                <div fxLayout="row" fxLayoutAlign="end" style="width: 100%;">
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="example@gmail.com" [(ngModel)]="podaci.email" name="email"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Lozinka</mat-label>
                    <input matInput type="password" [(ngModel)]="podaci.password" name="password" required>
                </mat-form-field>
                <a style="text-decoration: none; margin-left: auto;" routerLink="/zaboravljena-lozinka">Zaboravljena
                    lozinka</a>
                <div fxLayout="column" style="margin-bottom: 10px; text-align: center; width: 100%;">
                    <button mat-raised-button color="primary">Prijavi se</button>
                    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
                        <button mat-raised-button color="basic" routerLink="" style="width: 100%;">Nastavi bez
                            prijave</button>
                    </div>
                </div>
                <p>Nemate nalog? <a style="text-decoration: none;" routerLink="/register">Registrujte se</a></p>
            </form>
        </mat-card-content>
    </mat-card>
</div>