<mat-card>
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="register()">
            <h2>Registracija</h2>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="example@gmail.com" [(ngModel)]="podaci.email" name="email"
                    required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Korisnicko ime</mat-label>
                <input matInput [(ngModel)]="podaci.username" name="username" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Lozinka</mat-label>
                <input matInput type="password" [(ngModel)]="podaci.password" name="password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ime</mat-label>
                <input matInput [(ngModel)]="podaci.ime" name="ime" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Prezime</mat-label>
                <input matInput [(ngModel)]="podaci.prezime" name="prezime" required>
            </mat-form-field>
            <div fxLayout="column" style="margin-bottom: 10px;">
                <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Napravi nalog</button>
            </div>
            <p>Već imate nalog? <a style="text-decoration: none;" routerLink="/login">Prijavite se</a></p>
        </form>
    </mat-card-content>
</mat-card>